#cmd_pane {
    display: grid;
    gap: 15px;
    padding: 15px;
    grid-template-columns: 2fr 3fr 3fr;
    justify-items: center;

    grid-template-areas:
        "A D D"
        "A E F"
        "A G G";

    button {
        width: 100%;
    }

    .button_container {
        border: none;
        border-radius: 15px;

        display: grid;
        gap: 15px;
        justify-items: center;
        align-items: center;
        padding: 0px 15px;
    }

    #buttons_utils {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
    }

    #buttons_save {
        width: 90%;
        grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
    }

    #buttons_load,
    #buttons_delete {
        width: 90%;
        grid-template-columns: 1fr 4fr 4fr;
    }

    #buttons_modify {
        width: 65%;
        grid-template-columns: 1fr 3fr 3fr 3fr;
    }
}

@media (prefers-color-scheme: dark) {
    .button_container {
        background-color: rgba(210, 253, 205, 0.1);
    }
}

@media (prefers-color-scheme: light) {
    .button_container {
        background-color: rgba(255, 158, 0, 0.2);
    }
}
