/* float pane */

.float_pane {
    border: 1px solid;
    border-radius: 20px;

    min-width: 350px;
    min-height: 100px;
}

.float_pane_title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0 0 15px;
}

.float_pane_content {
    margin: 5px 0 0 15px;
}

@media (prefers-color-scheme: dark) {
    .float_pane {
        background: rgba(65, 65, 65, 0.9);
        box-shadow:
            inset -5px -5px 10px rgba(0, 0, 0, 0.2),
            inset 5px 5px 10px rgba(255, 255, 255, 0.2),
            10px 10px 10px rgba(0, 0, 0, 0.3);

        border-color: #9bacb0;
    }
}

/* message stack */

.msg_stack {
    position: absolute;
    background: transparent;
    bottom: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.centered_floating_pane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    min-width: 40%;
    min-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: blur(50px);
}

.centered_floating_pane::-webkit-scrollbar {
    display: none;
}

.msgbox:active {
    transform: translate(5px, 5px) scale(0.95);
    transition: transform 0.1s ease;
}
