html,
body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Consolas;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 30px;

    height: 92%;
    margin: 0;
    padding: 30px 40px;

    position: relative;
}

.pane {
    border: 3px solid;
    border-radius: 15px;
    padding: 10px;
}

#cmd_pane {
    flex: 2;
}

#saves_pane {
    flex: 5;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #9bacb0;
    }
    .pane {
        background: rgba(35, 35, 38, 0.42);
        transition:
            background 0.3s ease,
            box-shadow 0.3s ease;
    }
    .pane:hover {
        background: rgba(35, 35, 38, 0.224);
        box-shadow:
            inset -5px -5px 10px rgba(0, 0, 0, 0.2),
            inset 5px 5px 10px rgba(255, 255, 255, 0.2),
            10px 10px 10px rgba(0, 0, 0, 0.3);
    }
}
