.my_table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    th,
    td {
        border: 1px solid;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-line;
        text-align: center;
    }
}

.locked_save {
    font-style: italic;
    font-weight: bold;
    background: transparent;
}

@media (prefers-color-scheme: dark) {
    .locked_save {
        background-color: rgba(210, 253, 205, 0.1);
    }
}
